PCPickerInventory/xml-resources/web-service-references/Pcpicker_webserviceForDesktop/wsdl/192.168.119.185_8080/pcpicker_webserver/Pcpicker_webserviceForDesktop.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Pcpicker_webserviceForDesktop/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Pcpicker_webserviceForDesktop/" name="Pcpicker_webserviceForDesktop">
<types>
<xsd:schema>
<xsd:import namespace="http://Pcpicker_webserviceForDesktop/" schemaLocation="http://192.168.119.185:8080/pcpicker_webserver/Pcpicker_webserviceForDesktop?xsd=1"/>
</xsd:schema>
</types>
<message name="getActivePendingOrderList">
<part name="parameters" element="tns:getActivePendingOrderList"/>
</message>
<message name="getActivePendingOrderListResponse">
<part name="parameters" element="tns:getActivePendingOrderListResponse"/>
</message>
<message name="setOrderDeliveryDate">
<part name="parameters" element="tns:setOrderDeliveryDate"/>
</message>
<message name="setOrderDeliveryDateResponse">
<part name="parameters" element="tns:setOrderDeliveryDateResponse"/>
</message>
<message name="getOrder">
<part name="parameters" element="tns:getOrder"/>
</message>
<message name="getOrderResponse">
<part name="parameters" element="tns:getOrderResponse"/>
</message>
<message name="getPart">
<part name="parameters" element="tns:getPart"/>
</message>
<message name="getPartResponse">
<part name="parameters" element="tns:getPartResponse"/>
</message>
<message name="getBranchesList">
<part name="parameters" element="tns:getBranchesList"/>
</message>
<message name="getBranchesListResponse">
<part name="parameters" element="tns:getBranchesListResponse"/>
</message>
<message name="getInventoryList">
<part name="parameters" element="tns:getInventoryList"/>
</message>
<message name="getInventoryListResponse">
<part name="parameters" element="tns:getInventoryListResponse"/>
</message>
<message name="getCustomerList">
<part name="parameters" element="tns:getCustomerList"/>
</message>
<message name="getCustomerListResponse">
<part name="parameters" element="tns:getCustomerListResponse"/>
</message>
<message name="getDeliveryList">
<part name="parameters" element="tns:getDeliveryList"/>
</message>
<message name="getDeliveryListResponse">
<part name="parameters" element="tns:getDeliveryListResponse"/>
</message>
<message name="addCPU">
<part name="parameters" element="tns:addCPU"/>
</message>
<message name="addCPUResponse">
<part name="parameters" element="tns:addCPUResponse"/>
</message>
<message name="addMemory">
<part name="parameters" element="tns:addMemory"/>
</message>
<message name="addMemoryResponse">
<part name="parameters" element="tns:addMemoryResponse"/>
</message>
<message name="addPowerSupply">
<part name="parameters" element="tns:addPowerSupply"/>
</message>
<message name="addPowerSupplyResponse">
<part name="parameters" element="tns:addPowerSupplyResponse"/>
</message>
<message name="addGPU">
<part name="parameters" element="tns:addGPU"/>
</message>
<message name="addGPUResponse">
<part name="parameters" element="tns:addGPUResponse"/>
</message>
<message name="getOrder_componentList">
<part name="parameters" element="tns:getOrder_componentList"/>
</message>
<message name="getOrder_componentListResponse">
<part name="parameters" element="tns:getOrder_componentListResponse"/>
</message>
<message name="acceptOrder">
<part name="parameters" element="tns:acceptOrder"/>
</message>
<message name="acceptOrderResponse">
<part name="parameters" element="tns:acceptOrderResponse"/>
</message>
<portType name="Pcpicker_webserviceForDesktop">
<operation name="getActivePendingOrderList">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getActivePendingOrderListRequest" message="tns:getActivePendingOrderList"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getActivePendingOrderListResponse" message="tns:getActivePendingOrderListResponse"/>
</operation>
<operation name="setOrderDeliveryDate">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/setOrderDeliveryDateRequest" message="tns:setOrderDeliveryDate"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/setOrderDeliveryDateResponse" message="tns:setOrderDeliveryDateResponse"/>
</operation>
<operation name="getOrder">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getOrderRequest" message="tns:getOrder"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getOrderResponse" message="tns:getOrderResponse"/>
</operation>
<operation name="getPart">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getPartRequest" message="tns:getPart"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getPartResponse" message="tns:getPartResponse"/>
</operation>
<operation name="getBranchesList">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getBranchesListRequest" message="tns:getBranchesList"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getBranchesListResponse" message="tns:getBranchesListResponse"/>
</operation>
<operation name="getInventoryList">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getInventoryListRequest" message="tns:getInventoryList"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getInventoryListResponse" message="tns:getInventoryListResponse"/>
</operation>
<operation name="getCustomerList">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getCustomerListRequest" message="tns:getCustomerList"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getCustomerListResponse" message="tns:getCustomerListResponse"/>
</operation>
<operation name="getDeliveryList">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getDeliveryListRequest" message="tns:getDeliveryList"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getDeliveryListResponse" message="tns:getDeliveryListResponse"/>
</operation>
<operation name="addCPU">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/addCPURequest" message="tns:addCPU"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/addCPUResponse" message="tns:addCPUResponse"/>
</operation>
<operation name="addMemory">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/addMemoryRequest" message="tns:addMemory"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/addMemoryResponse" message="tns:addMemoryResponse"/>
</operation>
<operation name="addPowerSupply">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/addPowerSupplyRequest" message="tns:addPowerSupply"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/addPowerSupplyResponse" message="tns:addPowerSupplyResponse"/>
</operation>
<operation name="addGPU">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/addGPURequest" message="tns:addGPU"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/addGPUResponse" message="tns:addGPUResponse"/>
</operation>
<operation name="getOrder_componentList">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getOrder_componentListRequest" message="tns:getOrder_componentList"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/getOrder_componentListResponse" message="tns:getOrder_componentListResponse"/>
</operation>
<operation name="acceptOrder">
<input wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/acceptOrderRequest" message="tns:acceptOrder"/>
<output wsam:Action="http://Pcpicker_webserviceForDesktop/Pcpicker_webserviceForDesktop/acceptOrderResponse" message="tns:acceptOrderResponse"/>
</operation>
</portType>
<binding name="Pcpicker_webserviceForDesktopPortBinding" type="tns:Pcpicker_webserviceForDesktop">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getActivePendingOrderList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOrderDeliveryDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranchesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInventoryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDeliveryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCPU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMemory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPowerSupply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addGPU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrder_componentList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acceptOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Pcpicker_webserviceForDesktop">
<port name="Pcpicker_webserviceForDesktopPort" binding="tns:Pcpicker_webserviceForDesktopPortBinding">
<soap:address location="http://192.168.119.185:8080/pcpicker_webserver/Pcpicker_webserviceForDesktop"/>
</port>
</service>
</definitions>