pcpicker_webclientgit/src/conf/xml-resources/web-service-references/pcpicker_webservice/wsdl/localhost_8080/pcpicker_webserver/pcpicker_webservice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://pcpicker/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pcpicker/">

<xs:element name="addCustomer" type="tns:addCustomer"/>

<xs:element name="addCustomerResponse" type="tns:addCustomerResponse"/>

<xs:element name="addOrder" type="tns:addOrder"/>

<xs:element name="addOrderResponse" type="tns:addOrderResponse"/>

<xs:element name="cancelOrder" type="tns:cancelOrder"/>

<xs:element name="cancelOrderResponse" type="tns:cancelOrderResponse"/>

<xs:element name="getCoolerList" type="tns:getCoolerList"/>

<xs:element name="getCoolerListResponse" type="tns:getCoolerListResponse"/>

<xs:element name="getGPUMemoryTypes" type="tns:getGPUMemoryTypes"/>

<xs:element name="getGPUMemoryTypesResponse" type="tns:getGPUMemoryTypesResponse"/>

<xs:element name="getGraphicsCardList" type="tns:getGraphicsCardList"/>

<xs:element name="getGraphicsCardListResponse" type="tns:getGraphicsCardListResponse"/>

<xs:element name="getImageList" type="tns:getImageList"/>

<xs:element name="getImageListResponse" type="tns:getImageListResponse"/>

<xs:element name="getKeyboardList" type="tns:getKeyboardList"/>

<xs:element name="getKeyboardListResponse" type="tns:getKeyboardListResponse"/>

<xs:element name="getManufacturers" type="tns:getManufacturers"/>

<xs:element name="getManufacturersResponse" type="tns:getManufacturersResponse"/>

<xs:element name="getMaxPrice" type="tns:getMaxPrice"/>

<xs:element name="getMaxPriceResponse" type="tns:getMaxPriceResponse"/>

<xs:element name="getMaxResolutions" type="tns:getMaxResolutions"/>

<xs:element name="getMaxResolutionsResponse" type="tns:getMaxResolutionsResponse"/>

<xs:element name="getMemoryList" type="tns:getMemoryList"/>

<xs:element name="getMemoryListResponse" type="tns:getMemoryListResponse"/>

<xs:element name="getMemoryTypes" type="tns:getMemoryTypes"/>

<xs:element name="getMemoryTypesResponse" type="tns:getMemoryTypesResponse"/>

<xs:element name="getMonitorList" type="tns:getMonitorList"/>

<xs:element name="getMonitorListResponse" type="tns:getMonitorListResponse"/>

<xs:element name="getMotherboardList" type="tns:getMotherboardList"/>

<xs:element name="getMotherboardListResponse" type="tns:getMotherboardListResponse"/>

<xs:element name="getMouseList" type="tns:getMouseList"/>

<xs:element name="getMouseListResponse" type="tns:getMouseListResponse"/>

<xs:element name="getOrderHistoryList" type="tns:getOrderHistoryList"/>

<xs:element name="getOrderHistoryListResponse" type="tns:getOrderHistoryListResponse"/>

<xs:element name="getOrderList" type="tns:getOrderList"/>

<xs:element name="getOrderListResponse" type="tns:getOrderListResponse"/>

<xs:element name="getPart" type="tns:getPart"/>

<xs:element name="getPartResponse" type="tns:getPartResponse"/>

<xs:element name="getPowerSupplyList" type="tns:getPowerSupplyList"/>

<xs:element name="getPowerSupplyListResponse" type="tns:getPowerSupplyListResponse"/>

<xs:element name="getProcessorList" type="tns:getProcessorList"/>

<xs:element name="getProcessorListResponse" type="tns:getProcessorListResponse"/>

<xs:element name="getStorageList" type="tns:getStorageList"/>

<xs:element name="getStorageListResponse" type="tns:getStorageListResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:complexType name="getPart">
<xs:sequence>
<xs:element name="part_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPartResponse">
<xs:sequence>
<xs:element name="return" type="tns:Part" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Part">
<xs:sequence>
<xs:element name="part_id" type="xs:string" minOccurs="0"/>
<xs:element name="part_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="part_name" type="xs:string" minOccurs="0"/>
<xs:element name="part_price" type="xs:double"/>
<xs:element name="part_type" type="xs:string" minOccurs="0"/>
<xs:element name="imagePath" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getManufacturers">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getManufacturersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemoryTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMemoryTypesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMaxPrice">
<xs:sequence>
<xs:element name="compType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMaxPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderHistoryList">
<xs:sequence>
<xs:element name="cust_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderHistoryListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Order">
<xs:sequence>
<xs:element name="order_id" type="xs:int"/>
<xs:element name="cust_id" type="xs:int"/>
<xs:element name="date_created" type="xs:string" minOccurs="0"/>
<xs:element name="payment_type" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:int"/>
<xs:element name="nearestBranchRequest" type="xs:int"/>
<xs:element name="acceptedBy" type="xs:int"/>
<xs:element name="items" type="tns:Order_Parts" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="deliveryDate" type="xs:string" minOccurs="0"/>
<xs:element name="deliveryAddress" type="xs:string" minOccurs="0"/>
<xs:element name="coodinates" type="tns:Coordinates" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Order_Parts">
<xs:sequence>
<xs:element name="order_id" type="xs:int"/>
<xs:element name="part_id" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="part" type="tns:Part" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Coordinates">
<xs:sequence>
<xs:element name="lat" type="xs:double"/>
<xs:element name="lng" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderList">
<xs:sequence>
<xs:element name="cust_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelOrder">
<xs:sequence>
<xs:element name="order_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGPUMemoryTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getGPUMemoryTypesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeyboardList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="minPrice" type="xs:int" minOccurs="0"/>
<xs:element name="maxPrice" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeyboardListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Keyboard" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Keyboard">
<xs:complexContent>
<xs:extension base="tns:Part">
<xs:sequence>
<xs:element name="backlit" type="xs:boolean"/>
<xs:element name="type_" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="addOrder">
<xs:sequence>
<xs:element name="cust_id" type="xs:int"/>
<xs:element name="part_ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="quantity" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="paymentType" type="xs:string" minOccurs="0"/>
<xs:element name="deliveryAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMotherboardList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="minPrice" type="xs:int" minOccurs="0"/>
<xs:element name="maxPrice" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMotherboardListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Motherboard" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Motherboard">
<xs:complexContent>
<xs:extension base="tns:Part">
<xs:sequence>
<xs:element name="socket" type="xs:string" minOccurs="0"/>
<xs:element name="mem_slots" type="xs:int"/>
<xs:element name="form_factor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getMonitorList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="minPrice" type="xs:int" minOccurs="0"/>
<xs:element name="maxPrice" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMonitorListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Monitor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Monitor">
<xs:complexContent>
<xs:extension base="tns:Part">
<xs:sequence>
<xs:element name="aspect_ratio" type="xs:string" minOccurs="0"/>
<xs:element name="screen_size" type="xs:int"/>
<xs:element name="max_resolution" type="xs:string" minOccurs="0"/>
<xs:element name="refresh_rate" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getMemoryList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="minPrice" type="xs:int" minOccurs="0"/>
<xs:element name="maxPrice" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemoryListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Memory" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Memory">
<xs:complexContent>
<xs:extension base="tns:Part">
<xs:sequence>
<xs:element name="mem_capacity" type="xs:int"/>
<xs:element name="mem_ddr" type="xs:string" minOccurs="0"/>
<xs:element name="mem_clock" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getStorageList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="minPrice" type="xs:int" minOccurs="0"/>
<xs:element name="maxPrice" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStorageListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Storage" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Storage">
<xs:complexContent>
<xs:extension base="tns:Part">
<xs:sequence>
<xs:element name="type_" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element name="interface" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getProcessorList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="minPrice" type="xs:int" minOccurs="0"/>
<xs:element name="maxPrice" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProcessorListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Processor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Processor">
<xs:complexContent>
<xs:extension base="tns:Part">
<xs:sequence>
<xs:element name="core_clock" type="xs:double"/>
<xs:element name="core_num" type="xs:int"/>
<xs:element name="thread_num" type="xs:int"/>
<xs:element name="socket_" type="xs:string" minOccurs="0"/>
<xs:element name="tdp" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getGraphicsCardList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="minPrice" type="xs:int" minOccurs="0"/>
<xs:element name="maxPrice" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGraphicsCardListResponse">
<xs:sequence>
<xs:element name="return" type="tns:GraphicsCard" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraphicsCard">
<xs:complexContent>
<xs:extension base="tns:Part">
<xs:sequence>
<xs:element name="core_clock" type="xs:int"/>
<xs:element name="mem_ddr" type="xs:string" minOccurs="0"/>
<xs:element name="mem_capacity" type="xs:int"/>
<xs:element name="mem_clock" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getPowerSupplyList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="minPrice" type="xs:int" minOccurs="0"/>
<xs:element name="maxPrice" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPowerSupplyListResponse">
<xs:sequence>
<xs:element name="return" type="tns:PowerSupply" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PowerSupply">
<xs:complexContent>
<xs:extension base="tns:Part">
<xs:sequence>
<xs:element name="wattage" type="xs:int"/>
<xs:element name="rating" type="xs:string" minOccurs="0"/>
<xs:element name="form_factor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getMaxResolutions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMaxResolutionsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMouseList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="minPrice" type="xs:int" minOccurs="0"/>
<xs:element name="maxPrice" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMouseListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Mouse" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Mouse">
<xs:complexContent>
<xs:extension base="tns:Part">
<xs:sequence>
<xs:element name="dpi" type="xs:int"/>
<xs:element name="connection_" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getCoolerList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="minPrice" type="xs:int" minOccurs="0"/>
<xs:element name="maxPrice" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCoolerListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Cooler" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cooler">
<xs:complexContent>
<xs:extension base="tns:Part">
<xs:sequence>
<xs:element name="liquid_cooling" type="xs:boolean"/>
<xs:element name="rated_tdp" type="xs:int"/>
<xs:element name="supported_sockets" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getImageList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getImageListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Image" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Image">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="imageclass" type="xs:string" minOccurs="0"/>
<xs:element name="imagepath" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCustomer">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="zipCode" type="xs:int"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>