pcpicker_webclientgit/web/WEB-INF/wsdl/localhost_8080/pcpicker_webserver/pcpicker_webservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pcpicker/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pcpicker/" name="pcpicker_webservice">
<types>
<xsd:schema>
<xsd:import namespace="http://pcpicker/" schemaLocation="http://localhost:8080/pcpicker_webserver/pcpicker_webservice?xsd=1"/>
</xsd:schema>
</types>
<message name="getPart">
<part name="parameters" element="tns:getPart"/>
</message>
<message name="getPartResponse">
<part name="parameters" element="tns:getPartResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getStorageList">
<part name="parameters" element="tns:getStorageList"/>
</message>
<message name="getStorageListResponse">
<part name="parameters" element="tns:getStorageListResponse"/>
</message>
<message name="getMonitorList">
<part name="parameters" element="tns:getMonitorList"/>
</message>
<message name="getMonitorListResponse">
<part name="parameters" element="tns:getMonitorListResponse"/>
</message>
<message name="getImageList">
<part name="parameters" element="tns:getImageList"/>
</message>
<message name="getImageListResponse">
<part name="parameters" element="tns:getImageListResponse"/>
</message>
<message name="getCoolerList">
<part name="parameters" element="tns:getCoolerList"/>
</message>
<message name="getCoolerListResponse">
<part name="parameters" element="tns:getCoolerListResponse"/>
</message>
<message name="getProcessorList">
<part name="parameters" element="tns:getProcessorList"/>
</message>
<message name="getProcessorListResponse">
<part name="parameters" element="tns:getProcessorListResponse"/>
</message>
<message name="getKeyboardList">
<part name="parameters" element="tns:getKeyboardList"/>
</message>
<message name="getKeyboardListResponse">
<part name="parameters" element="tns:getKeyboardListResponse"/>
</message>
<message name="getManufacturers">
<part name="parameters" element="tns:getManufacturers"/>
</message>
<message name="getManufacturersResponse">
<part name="parameters" element="tns:getManufacturersResponse"/>
</message>
<message name="addOrder">
<part name="parameters" element="tns:addOrder"/>
</message>
<message name="addOrderResponse">
<part name="parameters" element="tns:addOrderResponse"/>
</message>
<message name="getMemoryTypes">
<part name="parameters" element="tns:getMemoryTypes"/>
</message>
<message name="getMemoryTypesResponse">
<part name="parameters" element="tns:getMemoryTypesResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="getMemoryList">
<part name="parameters" element="tns:getMemoryList"/>
</message>
<message name="getMemoryListResponse">
<part name="parameters" element="tns:getMemoryListResponse"/>
</message>
<message name="getMouseList">
<part name="parameters" element="tns:getMouseList"/>
</message>
<message name="getMouseListResponse">
<part name="parameters" element="tns:getMouseListResponse"/>
</message>
<message name="getOrderList">
<part name="parameters" element="tns:getOrderList"/>
</message>
<message name="getOrderListResponse">
<part name="parameters" element="tns:getOrderListResponse"/>
</message>
<message name="cancelOrder">
<part name="parameters" element="tns:cancelOrder"/>
</message>
<message name="cancelOrderResponse">
<part name="parameters" element="tns:cancelOrderResponse"/>
</message>
<message name="getMaxResolutions">
<part name="parameters" element="tns:getMaxResolutions"/>
</message>
<message name="getMaxResolutionsResponse">
<part name="parameters" element="tns:getMaxResolutionsResponse"/>
</message>
<message name="getOrderHistoryList">
<part name="parameters" element="tns:getOrderHistoryList"/>
</message>
<message name="getOrderHistoryListResponse">
<part name="parameters" element="tns:getOrderHistoryListResponse"/>
</message>
<message name="getPowerSupplyList">
<part name="parameters" element="tns:getPowerSupplyList"/>
</message>
<message name="getPowerSupplyListResponse">
<part name="parameters" element="tns:getPowerSupplyListResponse"/>
</message>
<message name="getGPUMemoryTypes">
<part name="parameters" element="tns:getGPUMemoryTypes"/>
</message>
<message name="getGPUMemoryTypesResponse">
<part name="parameters" element="tns:getGPUMemoryTypesResponse"/>
</message>
<message name="getGraphicsCardList">
<part name="parameters" element="tns:getGraphicsCardList"/>
</message>
<message name="getGraphicsCardListResponse">
<part name="parameters" element="tns:getGraphicsCardListResponse"/>
</message>
<message name="getMotherboardList">
<part name="parameters" element="tns:getMotherboardList"/>
</message>
<message name="getMotherboardListResponse">
<part name="parameters" element="tns:getMotherboardListResponse"/>
</message>
<message name="getMaxPrice">
<part name="parameters" element="tns:getMaxPrice"/>
</message>
<message name="getMaxPriceResponse">
<part name="parameters" element="tns:getMaxPriceResponse"/>
</message>
<portType name="Pcpicker_webservice">
<operation name="getPart">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getPartRequest" message="tns:getPart"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getPartResponse" message="tns:getPartResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/loginRequest" message="tns:login"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getStorageList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getStorageListRequest" message="tns:getStorageList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getStorageListResponse" message="tns:getStorageListResponse"/>
</operation>
<operation name="getMonitorList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMonitorListRequest" message="tns:getMonitorList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMonitorListResponse" message="tns:getMonitorListResponse"/>
</operation>
<operation name="getImageList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getImageListRequest" message="tns:getImageList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getImageListResponse" message="tns:getImageListResponse"/>
</operation>
<operation name="getCoolerList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getCoolerListRequest" message="tns:getCoolerList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getCoolerListResponse" message="tns:getCoolerListResponse"/>
</operation>
<operation name="getProcessorList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getProcessorListRequest" message="tns:getProcessorList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getProcessorListResponse" message="tns:getProcessorListResponse"/>
</operation>
<operation name="getKeyboardList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getKeyboardListRequest" message="tns:getKeyboardList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getKeyboardListResponse" message="tns:getKeyboardListResponse"/>
</operation>
<operation name="getManufacturers">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getManufacturersRequest" message="tns:getManufacturers"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getManufacturersResponse" message="tns:getManufacturersResponse"/>
</operation>
<operation name="addOrder">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/addOrderRequest" message="tns:addOrder"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/addOrderResponse" message="tns:addOrderResponse"/>
</operation>
<operation name="getMemoryTypes">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMemoryTypesRequest" message="tns:getMemoryTypes"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMemoryTypesResponse" message="tns:getMemoryTypesResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="getMemoryList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMemoryListRequest" message="tns:getMemoryList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMemoryListResponse" message="tns:getMemoryListResponse"/>
</operation>
<operation name="getMouseList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMouseListRequest" message="tns:getMouseList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMouseListResponse" message="tns:getMouseListResponse"/>
</operation>
<operation name="getOrderList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getOrderListRequest" message="tns:getOrderList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getOrderListResponse" message="tns:getOrderListResponse"/>
</operation>
<operation name="cancelOrder">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/cancelOrderRequest" message="tns:cancelOrder"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/cancelOrderResponse" message="tns:cancelOrderResponse"/>
</operation>
<operation name="getMaxResolutions">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMaxResolutionsRequest" message="tns:getMaxResolutions"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMaxResolutionsResponse" message="tns:getMaxResolutionsResponse"/>
</operation>
<operation name="getOrderHistoryList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getOrderHistoryListRequest" message="tns:getOrderHistoryList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getOrderHistoryListResponse" message="tns:getOrderHistoryListResponse"/>
</operation>
<operation name="getPowerSupplyList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getPowerSupplyListRequest" message="tns:getPowerSupplyList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getPowerSupplyListResponse" message="tns:getPowerSupplyListResponse"/>
</operation>
<operation name="getGPUMemoryTypes">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getGPUMemoryTypesRequest" message="tns:getGPUMemoryTypes"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getGPUMemoryTypesResponse" message="tns:getGPUMemoryTypesResponse"/>
</operation>
<operation name="getGraphicsCardList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getGraphicsCardListRequest" message="tns:getGraphicsCardList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getGraphicsCardListResponse" message="tns:getGraphicsCardListResponse"/>
</operation>
<operation name="getMotherboardList">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMotherboardListRequest" message="tns:getMotherboardList"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMotherboardListResponse" message="tns:getMotherboardListResponse"/>
</operation>
<operation name="getMaxPrice">
<input wsam:Action="http://pcpicker/Pcpicker_webservice/getMaxPriceRequest" message="tns:getMaxPrice"/>
<output wsam:Action="http://pcpicker/Pcpicker_webservice/getMaxPriceResponse" message="tns:getMaxPriceResponse"/>
</operation>
</portType>
<binding name="Pcpicker_webservicePortBinding" type="tns:Pcpicker_webservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStorageList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMonitorList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImageList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCoolerList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProcessorList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKeyboardList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getManufacturers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemoryTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemoryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMouseList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMaxResolutions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderHistoryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPowerSupplyList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGPUMemoryTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGraphicsCardList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMotherboardList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMaxPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="pcpicker_webservice">
<port name="Pcpicker_webservicePort" binding="tns:Pcpicker_webservicePortBinding">
<soap:address location="http://localhost:8080/pcpicker_webserver/pcpicker_webservice"/>
</port>
</service>
</definitions>