PCPickerInventory/xml-resources/web-service-references/Pcpicker_webserviceForDesktop/wsdl/localhost_8080/pcpicker_webserver/Pcpicker_webserviceForDesktop.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Pcpicker_webserviceForDesktop/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Pcpicker_webserviceForDesktop/">

<xs:element name="acceptOrder" type="tns:acceptOrder"/>

<xs:element name="acceptOrderResponse" type="tns:acceptOrderResponse"/>

<xs:element name="addCPU" type="tns:addCPU"/>

<xs:element name="addCPUResponse" type="tns:addCPUResponse"/>

<xs:element name="addGPU" type="tns:addGPU"/>

<xs:element name="addGPUResponse" type="tns:addGPUResponse"/>

<xs:element name="addMemory" type="tns:addMemory"/>

<xs:element name="addMemoryResponse" type="tns:addMemoryResponse"/>

<xs:element name="addPowerSupply" type="tns:addPowerSupply"/>

<xs:element name="addPowerSupplyResponse" type="tns:addPowerSupplyResponse"/>

<xs:element name="getActivePendingOrders" type="tns:getActivePendingOrders"/>

<xs:element name="getActivePendingOrdersResponse" type="tns:getActivePendingOrdersResponse"/>

<xs:element name="getBranchesList" type="tns:getBranchesList"/>

<xs:element name="getBranchesListResponse" type="tns:getBranchesListResponse"/>

<xs:element name="getCustomerList" type="tns:getCustomerList"/>

<xs:element name="getCustomerListResponse" type="tns:getCustomerListResponse"/>

<xs:element name="getDeliveryList" type="tns:getDeliveryList"/>

<xs:element name="getDeliveryListResponse" type="tns:getDeliveryListResponse"/>

<xs:element name="getInventoryList" type="tns:getInventoryList"/>

<xs:element name="getInventoryListResponse" type="tns:getInventoryListResponse"/>

<xs:element name="getOrderList" type="tns:getOrderList"/>

<xs:element name="getOrderListResponse" type="tns:getOrderListResponse"/>

<xs:element name="getOrder_componentList" type="tns:getOrder_componentList"/>

<xs:element name="getOrder_componentListResponse" type="tns:getOrder_componentListResponse"/>

<xs:element name="getPart" type="tns:getPart"/>

<xs:element name="getPartResponse" type="tns:getPartResponse"/>

<xs:element name="setOrderDeliveryDate" type="tns:setOrderDeliveryDate"/>

<xs:element name="setOrderDeliveryDateResponse" type="tns:setOrderDeliveryDateResponse"/>

<xs:complexType name="addGPU">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="core_clock" type="xs:int"/>
<xs:element name="mem_ddr" type="xs:string" minOccurs="0"/>
<xs:element name="mem_capacity" type="xs:string" minOccurs="0"/>
<xs:element name="mem_clock" type="xs:int"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addGPUResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeliveryList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDeliveryListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Delivery" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Delivery">
<xs:sequence>
<xs:element name="delivery_num" type="xs:int"/>
<xs:element name="order_id" type="xs:int"/>
<xs:element name="date_delivery" type="xs:string" minOccurs="0"/>
<xs:element name="accepted_by" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMemory">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="mem_capacity" type="xs:int"/>
<xs:element name="mem_ddr" type="xs:string" minOccurs="0"/>
<xs:element name="mem_clock" type="xs:int"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMemoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrder_componentList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrder_componentListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Order_Parts" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Order_Parts">
<xs:sequence>
<xs:element name="order_id" type="xs:int"/>
<xs:element name="part_id" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPowerSupply">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="wattage" type="xs:int"/>
<xs:element name="rating" type="xs:string" minOccurs="0"/>
<xs:element name="form_factor" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPowerSupplyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCPU">
<xs:sequence>
<xs:element name="comp_id" type="xs:string" minOccurs="0"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="core_clock" type="xs:int"/>
<xs:element name="core_num" type="xs:int"/>
<xs:element name="thread_num" type="xs:int"/>
<xs:element name="socket_" type="xs:string" minOccurs="0"/>
<xs:element name="tdp" type="xs:int"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCPUResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchesList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBranchesListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Branch" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Branch">
<xs:sequence>
<xs:element name="branch_id" type="xs:int"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="zip_code" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setOrderDeliveryDate">
<xs:sequence>
<xs:element name="order_id" type="xs:string" minOccurs="0"/>
<xs:element name="deliveryDate_" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setOrderDeliveryDateResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="acceptOrder">
<xs:sequence>
<xs:element name="order_id" type="xs:string" minOccurs="0"/>
<xs:element name="branch_id" type="xs:int"/>
<xs:element name="deliveryDate_" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="acceptOrderResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getActivePendingOrders">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getActivePendingOrdersResponse">
<xs:sequence>
<xs:element name="return" type="tns:Order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Order">
<xs:sequence>
<xs:element name="order_id" type="xs:int"/>
<xs:element name="cust_id" type="xs:int"/>
<xs:element name="date_created" type="xs:string" minOccurs="0"/>
<xs:element name="payment_type" type="xs:string" minOccurs="0"/>
<xs:element name="active" type="xs:boolean" minOccurs="0"/>
<xs:element name="acceptedBy" type="xs:int"/>
<xs:element name="items" type="tns:Order_Parts" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="deliveryDate" type="xs:string" minOccurs="0"/>
<xs:element name="cancel" type="xs:boolean" minOccurs="0"/>
<xs:element name="cancelDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomerList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCustomerListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Customer">
<xs:sequence>
<xs:element name="cust_id" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="zip_code" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInventoryList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getInventoryListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Inventory" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Inventory">
<xs:sequence>
<xs:element name="comp_id" type="xs:int"/>
<xs:element name="date_acquired" type="xs:string" minOccurs="0"/>
<xs:element name="branch_id" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="comp_name" type="xs:string" minOccurs="0"/>
<xs:element name="comp_price" type="xs:double"/>
<xs:element name="comp_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="comp_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPart">
<xs:sequence>
<xs:element name="part_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPartResponse">
<xs:sequence>
<xs:element name="return" type="tns:Part" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Part">
<xs:sequence>
<xs:element name="part_id" type="xs:string" minOccurs="0"/>
<xs:element name="part_manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="part_name" type="xs:string" minOccurs="0"/>
<xs:element name="part_price" type="xs:double"/>
<xs:element name="part_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrderListResponse">
<xs:sequence>
<xs:element name="return" type="tns:Order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>